.form1{
  float:left;
  width:100%;
  margin:auto;
  color: #999;
}

<<<<<<< HEAD
.box01{
=======
.box1{
>>>>>>> a3a5369443d8cb634f969efa460c5be688f534ff
  width: 250px;
  height: 20px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}

<<<<<<< HEAD
.box02{
=======
.box2{
>>>>>>> a3a5369443d8cb634f969efa460c5be688f534ff
  width: 550px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}

<<<<<<< HEAD
.button01{
=======
.button1{
>>>>>>> a3a5369443d8cb634f969efa460c5be688f534ff
  margin: 10px;
  padding: 10px;
  width: 570px;
  position: relative;
}
